.Dashboard-nav {
  height: 120vh;;
  width: 20%;
  min-width: 200px;
  margin-right: 0;
  padding-top: 40px;
  background-color: #9593BC;
}

.Dashboard-nav-options {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Dashboard-nav-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: darkslategrey;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.Dashboard-nav-category a {
  color: darkslategrey;
  text-decoration: none;
}

.Dashboard-nav-category a:hover {
  color: slategrey;
  text-decoration: none;
}
