.HourlyStatsTable-container {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.ReactTable {
  height: 95vh;
  width: 800px;
}

.ReactTable .-pagination {
  height: 40px;
}

.ReactTable .-pagination .-pageInfo {
    display: inline-block;
    margin: 3px 10px;
    white-space: nowrap;
    height: 32px;
    display: flex;
    align-items: center;
}

.ReactTable .-pagination .-pageJump {
  height: 40px;
  margin: 0 10px;
}

.ReactTable .-pagination .-pageJump input {
  height: 30px;
}

.-totalPages {
  margin-left: 5px;
}
